{% extends 'base.html' %} {% block main %} {% if total <= y %}

<section id="hello">
  <h1>Bienvenue sur notre site</h1>
  <h2>Description de l’organisation de la formation</h2>
  <p>
<b>1. Inscription</b> <br> 
   L’inscription se fait sur ce site. Les places sont limitées et il n’est pas possible de consulter la liste des personnes déjà inscrites, à l’exception de sa propre inscription. <br>
<b>2. Début de la formation</b> <br>
   La formation débutera à la date et à l’heure indiquées lors de l’inscription. <br>
<b>3. Paiement des frais d’inscription</b> <br>
   Le paiement des frais d’inscription peut être effectué avant ou pendant la formation. Il est toutefois conseillé d’effectuer le paiement auprès de la personne indiquée à cet effet. <br>
<b>4. Horaires des modules</b> <br>
   Tous les modules ne débuteront pas nécessairement à la même heure. Les horaires pourront varier en fonction du formateur et du module concerné. <br>
<b>5. Organisation des modules </b><br>
   La formation débutera par le module: <br>
- Programmation Web; <br>
-  Électronique – Circuits logiques ; <br>
- Bases de la programmation embarquée et objets électroniques (technologies utilisées) ; <br>
- Systèmes embarqués ; <br>
-  Internet des objets (IoT). <br>
  
   Enfin, la formation se terminera par des travaux pratiques, qui seront réalisés en groupes constitués par les formateurs au cours de la formation. <br>
<b>6. Matériel nécessaire</b> <br>
   Pour le premier module, qui est initialement prévu pour une durée d’une semaine, il est important de disposer d’un ordinateur portable et d’un smartphone suffisamment équipés. La liste des logiciels nécessaires vous sera communiquée par le formateur concerné. <br>
  
   Le deuxième module, également prévu initialement pour une semaine, nécessitera : <br>
  
   - un ordinateur ; <br>
   - un smartphone ; <br>
   - un multimètre ; <br>
   - des composants électroniques. <br>
  
   La liste précise des composants nécessaires vous sera communiquée par le formateur concerné. <br>
  
   Les modules Systèmes embarqués et Internet des objets (IoT) nécessiteront notamment : <br>
  
   - un ordinateur ; <br>
   - un smartphone ; <br>
   - un kit Arduino ; <br>
   - un multimètre numérique. <br>
  
   NB : Il n’est pas obligatoire de posséder dès le début de la formation le matériel et les composants prévus pour les deuxième et troisième modules. Leur acquisition pourra se faire progressivement, en fonction de l’avancement de la formation. <br>
  
   Pour l’achat des composants électroniques et du matériel, il est conseillé de se rapprocher des formateurs concernés afin de bénéficier de conseils sur le choix des composants et d’éviter, autant que possible, des coûts excessifs ou l’achat de produits de mauvaise qualité. <br>
  
   Tout le matériel et tous les composants achetés par les apprenants pendant la formation restent leur propriété, y compris à la fin de la formation.
  
   Des informations complémentaires concernant le matériel nécessaire seront communiquées ultérieurement. <br>
<b>7. Nature de la formation</b> <br>
   Cette formation constitue davantage une activité para-académique qu’une formation professionnelle. En conséquence, les participants acquerront principalement des connaissances, des compétences pratiques et de l’expérience, mais aucun brevet ou diplôme professionnel ne sera délivré à l’issue de la formation. <br>
<b>8. Communication entre les participants</b> <br>
   Un groupe WhatsApp sera créé au début de la formation afin de faciliter la communication entre les apprenants et les formateurs, ainsi que la transmission des informations relatives au déroulement de la formation. <br>
    <br />
    Les places étant limitées, les personnes intéressées sont invitées à
    s’inscrire rapidement afin de garantir leur participation. <br />
    L’inscription est fixée à <b>11.000fc</b>, sans frais mensuels.
  </p>
  <div>
    <button id="btn_I">Enregistrement</button>
    <button id="btn_C">Connection</button>
  </div>
</section>

<section class="auth" id="inscription">
  <form method="post" class="form">
    <img
      src="{{url_for('static', filename='img/icons/icon5.png')}}"
      alt="png"
      width="150px"
    />
    <h1 class="title">Enregistrement</h1>
    <input type="hidden" name="action" value="Inscription" />
    <div class="champ">
      <label>Prénom : </label>
      <input
        class="input"
        type="text"
        name="prenom"
        placeholder="first name"
        required
      />
    </div>
    <div class="champ">
      <label>Nom : </label>
      <input class="input" type="text" name="nom" placeholder="name" required />
    </div>
    <div class="champ">
      <label>Post nom : </label>
      <input
        class="input"
        type="text"
        name="postnom"
        placeholder="last name"
        required
      />
    </div>
    <div class="champ">
      <label>Promotion : </label>
      <input
        class="input"
        type="text"
        name="promotion"
        placeholder="class"
        required
      />
    </div>
    <div class="champ">
      <label>Rôle : </label>
      <select name="role" id="rol" title="role" class="role" required>
        <option value="etudiant">Etudiant</option>
        <option value="admin">Administrateur</option>
      </select>
    </div>
    <div id="code" class="champ">
      <label>Code Administrateur : </label>
      <input
        class="input"
        type="password"
        name="code"
        id="password"
        placeholder="password"
      />
      <label
        >Voir le code :
        <input type="checkbox" name="check" id="check" placeholder="..."
      /></label>
    </div>
    <input type="submit" value="Enregistrer" class="btn" />
  </form>
  <p>déjà enregistrer?<button id="btn" class="bt">Connection</button></p>
</section>
{% else %}
<p>Les Inscription sont maintenant cloturer nombre limit atteint</p>
<button>Connection</button>

{% endif %}
<section class="auth" id="connection">
  <form method="post" class="form">
    <img
      src="{{url_for('static', filename='img/icons/icon5.png')}}"
      alt="png"
      width="150px"
    />
    <h1 class="title">Connection</h1>
    <input type="hidden" name="action" value="Connection" />
    <div class="champ">
      <label>Prénom : </label>
      <input
        class="input"
        type="text"
        name="prenom"
        placeholder="first name"
        required
      />
    </div>
    <div class="champ">
      <label>Nom : </label>
      <input class="input" type="text" name="nom" placeholder="name" required />
    </div>
    <div class="champ">
      <label>Post nom : </label>
      <input
        class="input"
        type="text"
        name="postnom"
        placeholder="last name"
        required
      />
    </div>
    <div class="champ">
      <label>Rôle : </label>
      <select name="role" id="role" title="role" class="role" required>
        <option value="etudiant">Etudiant</option>
        <option value="admin">Administrateur</option>
      </select>
    </div>
    <input type="submit" value="Connecter" class="btn" />
  </form>
  <p>pas enregistrer?<button id="btn1" class="bt">Enregistre</button></p>
</section>

{% endblock main %}
